@import "Variables.scss";

#HomeBody {
    display: flex;
    height: 100%;
}

#Home {
    height: calc(100% - 190px)
}

.JobsContainer {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.JobsTable {
    width: 100%;
    max-width: 700px;
    border: 2px solid $primary-color;
    display: flex;

    height: 500px;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.JobsGrid {
    width: 100%;
    display: flex;
}

.Jobs {
    border-right: 2px solid $primary-color;
    width: 30%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $primary-color transparent;

    .job-item {
        padding: 10px;
        border-bottom: 2px solid $primary-color;
        cursor: pointer;
        transition: 0.5s;
    }

    .job-item.selected {
        background-color: $primary-color;
        color: white;
    }

}


button {
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid $primary-color;

    &:hover {
        background-color: $primary-color;

    }
}

#search-bar {
    background-color: rgb(58, 58, 58);

    color: white;
    border: 2px solid $primary-color;
    height: 40px;
    width: 70%;

    input {
        background-color: transparent;
        height: 100%;
        width: calc(100% - 60px);
        outline: none;

        &:focus {
            border: none;
        }
    }

    button {
        width: 60px;
        height: 100%;
        border: 0;
        background-color: $primary-color;
    }
}

.JobDescription {
    width: 100%;

    .job-title-field {
        font-size: 25px;
        color: $primary-color;

    }


    position: relative;

    .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .job-description-bottom {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        padding: 10px;
        border-top: 2px solid $primary-color;

    }

    .job-offer,
    button {
        font-style: italic;
        color: rgb(0, 255, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        width: 80px;
        height: 40px;
        background-color: rgba(2, 234, 2, 0.273);
    }

    .applyToJobBtn {
        border-radius: 0;
        border: 2px solid $primary-color;
        color: $primary-color;
        background-color: transparent;
        transition: 0.5s;

        &:hover {
            color: white;
            background-color: $primary-color;
        }
    }

    .job-tags {
        display: flex;
        align-items: center;

        .tag-item {
            font-style: italic;
            color: rgb(0, 94, 255);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-radius: 25px;

            min-width: 40px;
            height: 40px;
            background-color: rgba(0, 94, 255, 0.256);

        }
    }
}