@import "Variables.scss";

#JobsFinishedContainer {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.324);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    button {
        padding: 10px;
        background-color: rgb(58, 58, 58);

        &:hover {
            background-color: $primary-color;
        }
    }
}