@import "Variables.scss";

#TopBar {
    background-color: $primary-color;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}