@import "Variables.scss";

#UserProfilePop {
    display: flex;

    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    background-color: $primary-color;
    padding:20px;
    width:300px;
    font-size: 20px;


    p {
        font-style: bold;
    }

    i,
    b {
        font-size: 15px;
    }
}

.selectedNavOption {
    background-color: $primary-color;
}

.UserNavOption {
    width: 100%;
    border-bottom: 2px solid $primary-color;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
        background-color: $primary-color;

    }
}

#SignoutOption {
    position: absolute;
    bottom: 0;
    border-top: 2px solid $primary-color;
}

#UserOptions {
    transition: 0.5s;
    height: 100%;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;

}

#UserInfoPop {
    transition: 0.5s;
}

body {
    overflow-x: hidden;
}

@media screen and (max-width:1000px) {
    #JobsContainer {
        width: 100%;
    }

    #UserInfoPop {
        transform: translateX(-400px);
        width: 0%;
    }
}